/**
########################## Bootstrap overrides ##########################
*/
.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.navbar-default .navbar-brand.active {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid transparent;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  font-size: 20px;
  font-weight: bold;
  color: #777; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/**
########################## Own ##########################
*/

.grid {
/*  width: 900px;
  height: 250px;*/
}

.row.my-border {
  border: 1px solid rgba(86,61,124,.2);
}

.row p {
  margin: 10px 0 10px;
}

.input-heading {
  /*text-align: center;*/
}

.my-medium {
  min-width: 150px;
}

.my-small {
  min-width: 75px;
  width: 75px;
  display: inline;
}

.grid-cell {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}

.grid-cell.currency {
  text-align: right;
}

.grid-cell.date {

}

.btn.btn-default.small {
  height: 20px;
  width: 20px;
  padding: 0px 0px;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
}

.settings-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.settings-nav li {
  display: inline;
}