<div style="margin:100px">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Neue Zuordnung" ng-model="vm.delegateToAdd" style="width:200px">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.addDelegate(vm.delegateToAdd); vm.delegateToAdd=''">Zuordnung hinzufügen</button><br>
    Einnahmearten (anklicken zum Selektieren):
    <h3>
      <span ng-repeat="delegate in vm.delegates.gains">
        <span class="label label-success" ng-bind="delegate" ng-click="vm.selectedDelegate = vm.delegatesArr[$index]" href="#" style="cursor:pointer">
        </span>
      </span>
    </h3><br>
    Ausgabearten (anklicken zum Selektieren):
    <h3>
      <span ng-repeat="delegate in vm.delegates.expenses">
        <span class="label label-danger" ng-bind="delegate" ng-click="vm.selectedDelegate = vm.delegatesArr[$index + vm.delegates.gains.length]" href="#" style="cursor:pointer">
        </span>
      </span>
    </h3>
  </form>
  <br>
  <br>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Betrag" ng-model="vm.amount" style="width:70px">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Beschreibung" ng-model="vm.description" style="width:300px">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Kto-A" ng-model="vm.bankStatement" style="width:70px">
    </div>
    <div class="form-group">
      <label>Zuordnung</label>
      <select class="dropdown" ng-options="entry.name group by entry.type for entry in vm.delegatesArr" ng-model="vm.selectedDelegate"></select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.saveDataSet(); vm.init();">Übernehmen</button>
  </form>

  <div id="grid" ui-grid="vm.gridOptions" class="grid" style="margin-top:100px" ui-grid-resize-columns></div>
  <br>
  <br>
  <button type="submit" class="btn btn-default" ng-click="vm.saveAll();">Alles übernehmen</button>
</div>