<input type="checkbox"> Sicheren Eingabemodus verwenden<br><br>
<div class="row">
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Jahr<br>
      2015
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishStatement();">+</button>
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishStatement();">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Kontoauszug<br>
      13 
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishStatement();">+</button>
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishStatement();">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Blatt<br>
      3
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishPage();">+</button>
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishPage();">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Position<br>
      1
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishPage();">+</button>
      <button type="submit" class="btn btn-default small" ng-click="vm.bankFinishPage();">-</button>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-3 my-medium">
    <label>Datum</label><br>
    <div class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.params.date.value" is-open="vm.showDatePicker" ng-required="true" close-text="Close"/>
      <div class="input-group-addon" ng-click="vm.showDatePicker = true"><i class="glyphicon glyphicon-calendar"></i></div>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <label>Betrag</label><br>
    <input type="text" class="form-control" placeholder="in €" ng-model="vm.params.amount.value">
  </div>
  <div class="col-xs-3 my-medium">
    <label>Beschreibung</label><br>
    <input type="text" class="form-control" placeholder="Beschreibung" ng-model="vm.params.description.value">
  </div>
  <div class="col-xs-3 my-medium">
    <label>Zuordnung</label><br>
    <select class="dropdown" ng-options="entry.name group by entry.type for entry in vm.delegates" ng-model="vm.params.selectedDelegate.value"></select>
  </div>
</div>
<br>
<uib-progressbar 
  class="progress-striped active" 
  value="vm.progressBarValue" 
  type="{{vm.progressBarType}}"
  ng-click="vm.saveDataSet();"
  >
    <span ng-show="vm.progressBarValue > 0 && vm.progressBarValue < 100">Erfassung</span>
    <span ng-show="vm.progressBarValue == 100">Hier klicken zum Übernehmen</span>
</uib-progressbar>
<div id="grid" ui-grid="vm.gridOptions" class="grid" ui-grid-resize-columns></div>
<br>
<br>
<button type="submit" class="btn btn-default" ng-click="vm.saveAll();">Alles übernehmen</button>

<script type="text/ng-template" id="myModalContent.html">
    <div>
        <h3 class="modal-title">Daten übernommen</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-success" type="button" ng-click="overview()">Zur Übersicht wechseln</button>
    </div>
</script>