<my-code></my-code>
<br>

<md-content layout-padding>

  <div layout-gt-xs="row">

    <md-input-container class="md-block" flex-gt-xs>
      <label>Datum</label>
      <md-datepicker ng-model="vm.params.date.model"></md-datepicker>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
      <label>Betrag</label>
      <input ng-model="vm.params.amount.model">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
      <label>Beschreibung</label>
      <input ng-model="vm.params.description.model">
    </md-input-container>



    <md-input-container class="md-block" flex-gt-xs>
      <label>Zuordnung</label>

      <md-select ng-model="vm.params.selectedDelegate.model">
        <md-optgroup label="Einnahmearten">
          <md-option ng-value="delegate" ng-repeat="delegate in vm.delegates | filter: {group: 'Einnahmearten' }">{{delegate.displayName}}</md-option>
        </md-optgroup>

        <md-optgroup label="Ausgabearten">
          <md-option ng-value="delegate" ng-repeat="delegate in vm.delegates | filter: {group: 'Ausgabearten' }">{{delegate.displayName}}</md-option>
        </md-optgroup>
      </md-select>

    </md-input-container>

    <button type="submit" class="btn btn-default small" ng-attr-title="{{::attr.resource.help.settings_attribution_new}}" ng-click="vm.openNewAttributionDialog();">+</button>

  </div>

</md-content>

<br>
<uib-progressbar
  class="progress-striped active"
  value="vm.progressBarValue"
  type="{{vm.progressBarType}}"
  ng-click="vm.saveDataSet();"
  >
    <span ng-show="vm.progressBarValue > 0 && vm.progressBarValue < 100">Erfassung</span>
    <span ng-show="vm.progressBarValue == 100">Hier klicken zum Übernehmen</span>
</uib-progressbar>
<div id="grid" ui-grid="vm.gridOptions" class="grid" ui-grid-resize-columns></div>
<br>
<br>
<button type="submit" class="btn btn-default" ng-click="vm.saveAll();">Alles übernehmen</button>
<button type="submit" class="btn btn-default" ng-click="vm.refeshPage();">Alles verwerfen</button>
