<form class="form-inline">
  <p>
    <h1 ng-attr-title="{{::attr.resource.help.settings_attribution_header}}">Zuordnungen</h1>
  </p>
  <div class="row my-border">
    <div class="col-xs-3" ng-attr-title="{{::attr.resource.help.settings_attribution_add}}">
      Hinzufügen
    </div>
    <div class="col-xs-9">
      <p>
        <input type="text" class="form-control" placeholder="{{::attr.resource.placeholder.settings_attribution_add}}" ng-model="attr.newAttr.name"  ng-change="attr.checkNewAttr();">
        <div ng-show="!attr.newAttr.isValid && attr.newAttr.name.length > 1" style="color:maroon" role="alert">
          Bitte "+" (Einnahme) oder "-" (Ausgabe) vor die Bezeichnung schreiben.
        </div>
        <div ng-show="attr.newAttr.isDuplicate && attr.newAttr.name.length > 1" style="color:maroon" role="alert">
          Eintrag bereits vorhanden.
        </div>
        <button type="submit" class="btn btn-default" ng-click="attr.addNewAttribution();" ng-attr-title="{{::attr.resource.help.settings_attribution_add}}" ng-bind="attr.addKindOfAttr"></button>
      </p>
    </div>
  </div>
  <div class="row my-border">
    <div class="col-xs-3" ng-attr-title="{{::attr.resource.help.settings_attribution_edit}}">
      Umbenennen
    </div>
    <div class="col-xs-9">
      <p>
        <p>Einnahmearten:</p>
        <button ng-repeat="entry in attr.all.in" type="button" class="btn btn-success">{{entry.name}}</button>
      </p>
      <p>
        <p>Ausgabearten:</p>
        <button ng-repeat="entry in attr.all.out" type="button" class="btn btn-danger">{{entry.name}}</button>
      </p>
    </div>
  </div>
</form>