<form class="form-inline">
  <p>
    <h1 ng-attr-title="{{::attr.resource.help.settings_attribution_header}}">
      Datenimport und Datenexport<br>
    </h1>
  </p>
  <div class="row my-border">
    <div class="col-xs-3">
      Exportieren
    </div>
    <div class="col-xs-9">
      <p>
        <input type="file">
      </p>
    </div>
    <div class="col-xs-3">
      Importieren
    </div>
    <div class="col-xs-9">
      <p>
        <input type="file">
        <div style="color:maroon" role="alert">
          Achtung: Alle bisher vorhandenen Daten werden gelöscht und mit den neuen Daten überschrieben!
        </div>
      </p>
    </div>
  </div>
</form>
