<button type="submit" class="btn btn-default" ng-click="attr.dbClear();"> Alles Löschen </button><br>

<form class="form-inline">
  <p>
    <h1 ng-attr-title="{{::attr.resource.help.settings_attribution_header}}">
      Zuordnungen<br>     
    </h1>
  </p>
  <div class="row my-border">
    <div class="col-xs-3" ng-attr-title="{{::attr.resource.help.settings_attribution_add}}">
      Hinzufügen
    </div>
    <div class="col-xs-9">
      <p>
        <input type="text" class="form-control" placeholder="{{::attr.resource.placeholder.settings_attribution_add}}" ng-model="attr.new.val"  ng-change="attr.check();">
        <div ng-show="!attr.new.isValid && attr.new.val.length > 1" style="color:maroon" role="alert">
          Bitte "+" (Einnahme) oder "-" (Ausgabe) vor die Bezeichnung schreiben.
        </div>
        <div ng-show="attr.new.isDuplicate && attr.new.val.length > 1" style="color:maroon" role="alert">
          Eintrag bereits vorhanden.
        </div>
        <button type="submit" class="btn btn-default" ng-click="attr.add();" ng-attr-title="{{::attr.resource.help.settings_attribution_add}}" ng-bind="attr.addKindOfAttr"></button>
      </p>
    </div>
  </div>
  <div class="row my-border">
    <div class="col-xs-3" ng-attr-title="{{::attr.resource.help.settings_attribution_edit}}">
      Umbenennen
    </div>
    <div class="col-xs-9" ng-if="!attr.currentlyRenaming">
      <p>
        <p>Einnahmearten:</p>
        <button ng-repeat="entry in attr.all" type="button" class="btn btn-success"ng-if="entry.type === 'in'" ng-click="attr.renameAttribution(entry)">{{entry.displayName}}</button>
      </p>
      <p>
        <p>Ausgabearten:</p>
        <button ng-repeat="entry in attr.all" type="button" class="btn btn-danger" ng-if="entry.type === 'out'" ng-click="attr.renameAttribution(entry)">{{entry.displayName}}</button>
      </p>
    </div>
    <div class="col-xs-9" ng-if="attr.currentlyRenaming">
      <p>
        Neue Bezeichnung eingeben: <input type="text" class="form-control" placeholder="{{attr.renaming.displayName}} wird zu ..." ng-model="attr.newDisplayName"><br><br>
        <button type="button" class="btn {{attr.renaming.type === 'in' ? 'btn-success' : 'btn-danger'}}">{{attr.renaming.displayName}}</button> wird zu <button type="button" class="btn {{attr.renaming.type === 'in' ? 'btn-success' : 'btn-danger'}}">{{attr.newDisplayName}}</button><br><br>
        <button type="button" class="btn btn-default" ng-click="attr.cancelRenaming()">Abbrechen</button>
        <button type="button" class="btn btn-default" ng-click="attr.finishRenaming()">Speichern</button>
      </p>
    </div>
  </div>
  <div class="row my-border">
    <div class="col-xs-3" ng-attr-title="{{::attr.resource.help.settings_attribution_delete}}">
      <p>
        Entfernen <button type="button" class="btn btn-default" ng-click="attr.showDelete = !attr.showDelete">Anzeigen</button>
      </p>
      <div ng-show="attr.showDelete" style="color:maroon" role="alert">
        Einen Eintrag anklicken um ihn zu entfernen. Sollten noch Zahlungen mit der Zuordnung verknüpft sein, kommt ein Dialog zum neu Zuordnen der Zahlungen.
      </div>
    </div>
    <div class="col-xs-9" ng-show="attr.showDelete">
      <p>
        <button ng-repeat="entry in attr.all" type="button" class="btn btn-success" ng-if="entry.type === 'in'">{{entry.displayName}}</button>
      </p>
      <p>
        <button ng-repeat="entry in attr.all" type="button" class="btn btn-danger" ng-if="entry.type === 'out'">{{entry.displayName}}</button>
      </p>
    </div>
  </div>
</form>