<input type="checkbox"> Sicheren Eingabemodus verwenden<br><br>
<div class="row">
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Jahr<br>
      <span ng-bind="code.codes.year"></span>
      <button type="submit" class="btn btn-default small" ng-click="code.incease('year');">+</button>
      <button type="submit" class="btn btn-default small" ng-click="code.decrease('year');">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Kontoauszug<br>
      <span ng-bind="code.codes.number"></span> 
      <button type="submit" class="btn btn-default small" ng-click="code.incease('number');">+</button>
      <button type="submit" class="btn btn-default small" ng-click="code.decrease('number');">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Blatt<br>
      <span ng-bind="code.codes.page"></span>
      <button type="submit" class="btn btn-default small" ng-click="code.incease('page');">+</button>
      <button type="submit" class="btn btn-default small" ng-click="code.decrease('page');">-</button>
    </div>
  </div>
  <div class="col-xs-3 my-medium">
    <div class="input-heading">
      Position<br>
      <span ng-bind="code.codes.position"></span>
      <button type="submit" class="btn btn-default small" ng-click="code.incease('position');">+</button>
      <button type="submit" class="btn btn-default small" ng-click="code.decrease('position');">-</button>
    </div>
  </div>
</div>